.azn {
	font-family: $aznb;
}


.title {
	text-align: center;
	text-transform: uppercase;
    @include font($drp_bold,3rem,$color-white,$w:900);
	
}



.line__title {
	margin: 1.3rem 0;
	text-align: center;
	display: block;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	@include font($drp_black,3.6rem,$color-black,$w:900);

	&:before,
	&:after {
		content: '';
		display: inline-block;
		height: 3px;
		background: $color-primary;
		width: 7%;
		position: relative;
		vertical-align: middle;
	}

	&:before {
		left: -0.5em;
		margin-left: -50%;
	}

	&:after {
		right: -0.5em;
		margin-right: -50%;
	}
}


.subtitle {
	text-align: center;
	width: 50%;
	margin: auto;
	@include font($drp_medi,1.4rem,$color-grey-light-7);

	

	@include respondmax(lg) {
		width: 100%;
	}
}


.text {
	margin-bottom: 5rem;
	@include font($drpr,1.4rem,$color-black,$w:700);
}

.center__title{
	text-align: center;
	@include font($drp_black,2rem,$color-black,$w:900);
}
