.footer {
    background: $color-grey-dark;
    width: 100%;

    &__title {
        text-transform: uppercase;
        margin: 4.5rem 0;
        @include font($drp_bold,2rem,$color-white,$w:700);

        @include respondmax(md){
            text-align: center;
        }
    }

    &__text {
        text-align: left;
        margin: 2rem 0px;
        @include font($drp_medi,1.4rem,$color-grey-light-2,2);

        @include respondmax(md){
            text-align: center;
        }
    }

    &__list{
        list-style-type: none;

    }

    &__item{
        display:block;
        padding: 0 0 1.5rem;

       
    }

    &__link:link,
    &__link:visited{
        display:block;
        text-decoration: none;
        @include font($drp_medi,1.4rem,$color-grey-light-2);

        &:hover .footer__icon{
            margin: 0 0 0 1rem;

            @include respondmax(sm){
                margin: 0 1rem 0 0;
            }
        }
        
        @include respondmax(md){
            text-align: center;
        }
    }

    &__icon{
        margin: 0 1rem 0 0;
        transition: all .3s;
        &:hover{
            margin: 0;
          
        }
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respondmax(sm){
            flex-direction:column;
        }

    }

    &__bottom{
        background-color: $color-black-light;
        height: 5rem;
        @include font($drp_medi,1.5rem,$color-grey-light-2,4,700);

        @include respondmax(md){
            font-size: 1.2rem;
        }
    }

    

    &__box {
        background-color: $color-primary;
        text-align: center;
        padding: 4rem 0;
        height: 20rem;
        width: 100%;
        transition: all .5s;

        &:hover {
            background-color: $color-white;
            @include respondmax(sm){
                background-color: $color-primary;
            }
        }

        &:hover &--icon {
            color: $color-primary;
            @include respondmax(sm){
                color: $color-white;
            }
        }

        &:hover &--link {
            color: $color-black;
            @include respondmax(sm){
                color: $color-white;
            }
        }

        &--icon {
            font-size: 4rem;
            color: $color-white;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        &--link:link,
        &--link:visited {
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            @include font($drp_medi,1.5rem,$color-white);
        }

       
    }
}