.header {
    position: relative;

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
    }

    &__logo {
        height: 10rem;
        margin-right: auto;

        @include respondmax(md) {
            margin: 0 0rem 0 auto;
        }
    }

    &__photo {
        height: 100%;

        &:focus{
            outline: none;
        }
    }


    &__nav {
        position: relative;
        margin-right: 2rem;

        &--list {
            list-style: none;
            margin-bottom: 0;

            @include respondmax(md) {
                display: none;
            }
        }

        &--item {
            padding: 1rem;
            display: inline-block;
        }

        &--link:link,
        &--link:visited {
            text-decoration: none;
            text-transform: uppercase;
            transition: all .5s;
            @include font($drp_bold, 1.3rem, $color-grey, $w:600);

            &:hover {
                color: $color-primary;
            }

        }


        &--active {
            color: $color-primary !important;
        }


    }

    &__btn:visited,
    &__btn:link {
        @include font($drp_bold, 1.3rem, $color-white, $w:600);
        cursor: pointer;
        padding: 0 2.5rem;
        border-radius: 2.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-decoration: none;
        background-color: $color-primary;


        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-grey;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            border-radius: 3rem;
        }



        &:hover:before {
            transform: scaleX(1);
            transform-origin: left;
            color: $color-primary;
        }


        @include respondmax(md) {
            display: none !important;
        }
    }


    .shutter-out-vertical {
        position: relative;
        overflow: hidden;
        display: inline-block;
        transform: translateZ(0);
        transition: color .45s cubic-bezier(.475, .425, 0, .995);

        &:before {
            content: "";
            width: 110%;
            height: 110%;
            border-radius: 26px;
            position: absolute;
            transition: transform .3s cubic-bezier(.835, -.005, .06, 1), -webkit-transform .45s cubic-bezier(.835, -.005, .06, 1);
            transform-origin: right;
            transform: scaleX(0);
            left: -5%;
            will-change: transform;
            z-index: -1;
        }
    }

}