.header {
    position: relative;


    .active {
        left: 0;
    }

    &__sidebar {
        position: absolute;
        top: 11rem;
        left: -100%;
        width: 100%;
        z-index: 2;
        background-color: $color-primary;
        transition: .5s;


        &--list {
            list-style-type: none;
        }

        &--item {
            padding: 1.5rem 1rem;
            text-align: justify;
            display: block;
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid $color-white;
            transition: all .5s;
            &:last-child {
                border: 1px dashed $color-white;
                margin: 2rem;

                &:hover{
                    background-color: $color-white;
                    border: dotted $color-primary;
                }

                &:hover  .header__sidebar--link{
                    color: $color-primary;
                }

              }

           
        }
        
        &--link:link,
        &--link:visited {
            color: $color-white;
            text-decoration: none;
            font-size: 1.5rem;
            text-transform: capitalize;
           
        }



        &--OpenIconbox {
            height: 5rem;
            text-align: center;
            width: 5rem;
            line-height: 5rem;
            background-color: $color-primary;
            padding: .7rem 0;
            transition: all .5s;
            cursor: pointer;
        }


        &--CloseIconbox {
            position: absolute;
            right: 2rem;
            top: 1rem;
            transition: all .5s;
            cursor: pointer;
        }


        &--icon {
            cursor: pointer;
            font-size: 3rem;
            color: $color-white;
            transition: all .5s;
        }
    }
}