.about {
    &__img  {
        width: 100%;
        padding: 1rem;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);

    }



    &__text{
        text-align: justify;
        margin-bottom: 4rem;
        @include font($drpr,1.4rem,$color-grey-light-3);

        @include respondmax (sm){
            margin-bottom: 5rem;
        
        }

    }


    &__title{
        margin: 2rem 0;
        text-transform: capitalize;
        @include font($drp_bold,1.8rem,$color-black,$w:900);
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: block;
        margin: 1rem 0;
        @include font($drp_medi,1.4rem,$color-grey-light-2);
    }

    &__icon{
        margin-right: 1.5rem;
        @include font($s:1.2rem ,$c: $color-primary,$w:900);
    }
}