
.career{
    position: relative;

    &__img{
        text-align: center;
        margin-bottom: 1.5rem;
        min-height: 7rem;
        img{
            max-width: 100%;
        }
    }


    &__title{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
        @include font($drp_black,1.5rem,$color-black,$w:900);
    }


    &__text{
        text-align: justify;
        margin-bottom: 4rem;
        @include font($drpr,1.4rem,$color-grey-light-6);
    }

}