.curse {
    background-color: $color-white;
    height: 20.8rem;
    width: 100%;
    position: relative;
    transition: box-shadow .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    @include respondmax(sm) {
        width: inherit;
    }

    .curse__img {
        text-align: center;
        &--svg {
            width: 70%;
        }
    }

    &:hover {
        box-shadow: 0px 0px 3rem -2px rgba(0, 0, 0, 0.22);

        @include respondmax(sm) {
            box-shadow: inherit;
        }
    }

    &__title {
        @include font($drp_bold, 2rem, $color-black, $w:900);

    }





    &__link:link,
    &__link:visited {
        text-align: center;
        text-decoration: none;
        display: block;
        padding: 0 2rem;
        @include font($drp_black, 1.5rem, $color-black, $w:bold);
    }
}

.curse__box {
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);


    @include respondmax(xl) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respondmax(sm) {
        grid-template-columns: repeat(1, 1fr);
    }


}



.our {
    display: flex;
    align-items: center;

    @include respondmax(xl) {
        flex-direction: column;
    }
}

.our__curse {
    background-color: $color-primary;
    padding: 5rem;
    flex: 0 0 37%;
    height: 40rem;

    @include respondmax(xl) {

        padding: 1rem 9rem;
    }

    @include respondmax(xl) {
        padding: 1rem;
        height: inherit;

    }


    &--title {
        text-align: justify;
        margin: 0 0 4rem;
        @include font($drp_black, 2.4rem, $color-white);
    }

    &--text {
        text-align: justify;
        @include font($drpr, 1.6rem, $color-white);
    }
}


.our__slider {
    background-color: $color-grey-light-1;
    height: 40rem;
    text-align: center;
    padding: 0 2rem;
    position: relative;



    @include respondmax(xl) {
        width: 100%;
    }


    &--curse {

        @include respondmin(xl) {
            width: 20vw;
        }
    }



    &--svg {
        width: 12rem;
        height: 12rem;
        margin: 3rem 0;
    }

    &--subject {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 900;
        margin: auto;
        padding: 2rem 0;
    }
}