.dots {
    display: flex;
    align-items: center;
    position: absolute;
    top: -6rem;


    &__big {
        border-radius: 50%;
        background-color: $color-grey-light-4;
        height: 11rem;
        width: 11rem;
        border: 2px solid $color-white;
    }

    &__small {
        border-radius: 50%;
        background-color: $color-grey-light-4;
        height: 4rem;
        width: 4rem;
        margin: 0 1rem;
        border: 2px solid $color-white;
    }

    &__right{
        right: 2rem;

        @include respondmax(xl) {
            bottom: -8rem;
            top:inherit;
          }
    
    }
}