.apply {
    position: relative;

    &__input {
        height: 5rem;
        -webkit-appearance: none;
        padding-left: 2rem;
        margin: 6rem 0 0rem 0;
        border: none;
        border-radius: 0;
        resize: none !important;
        overflow: auto;
        @include font($abel_pro,1.5rem,$color-grey-light-6);

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }

        @include respondmax(md) {
           margin: 1rem 0;
        }
    }

    &__area{
    margin: 3rem 0 0 0;
    @include respondmax(md) {
        margin: 1rem 0;
     }
    }


    &__Subinput {
        background-color: $color-primary;
        text-transform: uppercase;
        @include font($drp_bold,1.5rem,$color-white,$w:700);
        background-color: $color-primary !important;
        color: $color-white !important;
        transition: all .5s;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-grey;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            
        }



        &:hover:before {
            transform: scaleX(1);
            transform-origin: left;

            @include respondmax(sm){
                transform: scaleX(0);
            }
        }
    }


    &__bok{
        position: relative;
        overflow: hidden;
        display: inline-block;
        transform: translateZ(0);
        transition: color .45s cubic-bezier(.475, .425, 0, .995);
    
        &:before {
            content: "";
            width: 110%;
            height: 110%;
            position: absolute;
            transition: transform .3s cubic-bezier(.835, -.005, .06, 1), -webkit-transform .45s cubic-bezier(.835, -.005, .06, 1);
            transform-origin: right;
            transform: scaleX(0);
            left: -5%;
            will-change: transform;
            z-index: -1;
        }
    }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


.select{
    position: relative;
    &:focus{
        color: $color-grey-light-6;
    }

    &-arrow {
        color: $color-grey-light-6;
        right: 4rem;
        bottom: 1.5rem;
        font-size: 2rem;
        position: absolute;
        z-index: 10;
        pointer-events: none;
    }

   
}
