.home{
    position: relative;
    text-align: center;
    &__title{
        text-transform: uppercase;
        letter-spacing: 4px;
        @include font($drp_black,2rem,$color-black,$w:900);
        

        @include respondmax(sm) {
            font-size:1.5rem;
            padding: 1rem 0;
          }
    }

    &__subtitle{
        text-transform: uppercase;
        @include font($drpr,1.5rem,$color-black,$w:400);

        @include respondmax(sm) {
            font-size:1rem;
          }
    }
}