.logo {

    &__img {
        position: relative;
        top:7rem;
        width: 25rem;

    }

    &__title {
        font-size: 6rem;
        padding: 14rem 0 0;
        color: $color-black;
    }
}


.section-logo{
    background-color: $color-grey-light-1;
    height: 100vh;
}