.gm-svpc{
    display: none;
}

.gmnoprint{
    display: none;
}

.gm-style-cc{
    display: none;
}

.gm-control-active {
    display: none !important;
}

.gm-fullscreen-control{
    display: none;
}