.my-next-button {
    z-index: 1;
    top: 40%;
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
    right: 2rem;
    color: $color-grey;

    &:focus {
        outline: none;
    }
}


.my-prev-button {
    z-index: 1;
    top: 40%;
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
    left: 2rem;
    color: $color-grey;

    &:focus {
        outline: none;
    }
}


.owl-dots {
    position: absolute;
    left: -2rem;
    bottom: 0rem;
    width: 10rem;
    background: $color-grey-light-5;
    height: 3rem;
    line-height: 3rem;

    @include respondmax(xl) {
        bottom: 0;
        width: 100vw;
    }


}


button.owl-dot {
    height: 1rem !important;
    width: 1rem !important;
    display: inline-block;
    border-radius: 50% !important;
    background-color: $color-white !important;
    margin: 1rem .5rem;

    &:focus {
        outline: none;
    }

    &.active {
        background-color: $color-primary !important;
    }

    span {
        display: none !important;
    }
}


.slinder {
    background-color: $color-white;
    height: 24rem;
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}




