.partnors {
display: flex;
align-items: center;
justify-content: space-between;

@include respondmax(lg) {
   flex-direction: column;
  }

  &__img{
      width: 25rem !important;
      display: inline-block !important;

   
  }

    &__box {
        height: 20rem;
        text-align: center;
        line-height: 20rem;
        border-radius: 5px;
        margin-bottom: 6rem;
        width: 100%;
        box-shadow: 0px 0px 18.6px 1.4px rgba($color-black, 0.07);

    }

   
}