.serch{
  position: relative;
  width: 60rem;
  height: 5rem;
  margin: 6rem auto;

  @include respondmax(sm) {
    width: inherit;
  }

  @include respondmax(md) {
    width: inherit;
  }

  &__icon{
    position: absolute;
    top: 2rem;
    color: $color-primary-dark;
    right: 2rem;
    font-size: 1.5rem;
  }

  &__input{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border-radius:0; 
    border:1px solid $color-grey-light-4;
    @include font($drp_medi,1.4rem,$color-grey-light-7);

    &:focus{
      outline: none;
    }

  }
}