.curseSingle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respondmax(xl) {
        flex-direction: column;
        text-align: center;

    }

  
&__first{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include respondmax(xl) {
        margin-bottom: 5rem;
    }
}
    &__img {

        &--title {
            display: block;
            text-transform: capitalize;
            @include font($drp_bold,2.4rem,$color-white,$w:900);
        }

        &--slash {
            display: block;
            @include font($drpr,1.5rem,$color-white);
        }
    }

    &__details {
        display: flex;
        align-items: center;

        @include respondmax(xl) {
            margin-bottom: 3rem;
        }

        @include respondmax(md){
            flex-direction:column;
            justify-content: space-between; 
        }

        &--General {
            padding: 1rem 3rem;

            @include respondmax(xl) {
                text-align: center;
            }

        }

        &--title {
            @include font($drpr,1.5rem,$color-white,$w:400);
        }

        &--time {
            @include font($drp_bold,1.4rem,$color-white,$w:900);
        }
    }

    &__pdf {

        &--link:link,
        &--link:visited {
            text-decoration: none;
            border: 1px solid $color-white;
            border-radius: 3rem;
            padding: 1rem 2rem; 
            text-align: center;
            text-transform: uppercase;
            @include font($drp_black,1.4rem,$color-white);

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-white;
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                border-radius: 3rem;
            }
    
            &:hover:before {
                transform: scaleX(1);
                transform-origin: left;

                @include respondmax(sm){
                    transform: scaleX(0);
                }
            }

            &:hover{
                color: $color-primary;

                @include respondmax(sm){
                    color: $color-white;
                }
            }
        }
    }
    
    .shutter-out-vertical {
        position: relative;
        overflow: hidden;
        display: inline-block;
        transform: translateZ(0);
        transition: color .45s cubic-bezier(.475, .425, 0, .995);
    
        &:before {
            content: "";
            width: 110%;
            height: 110%;
            border-radius: 26px;
            position: absolute;
            transition: transform .3s cubic-bezier(.835, -.005, .06, 1), -webkit-transform .45s cubic-bezier(.835, -.005, .06, 1);
            transform-origin: right;
            transform: scaleX(0);
            left: -5%;
            will-change: transform;
            z-index: -1;
        }
    }
}