.student {
    display: flex;
    align-items: center;

    @include respondmax(xl) {
        flex-direction: column;
        margin: 12rem 0;
    }

    &__boxs{
        padding: 3rem 4rem;
        height: 30rem;
        width: 50%;

        @include respondmax(xl) {
            width: 100%;
            height: inherit;
        }
    }

    &__jobs {
        text-align: justify;
        margin: 0;
        @include font($drpr,1.4rem);
    }

    &__text {
    
        text-align: justify;
        margin: 5rem 0 6rem 0;
        @include font($drpr,1.4rem);
        line-height: 1.9rem;
    }

    &__name {
        text-transform: uppercase;
        @include font($drp_black,1.6rem,$w:900);
    }

    ////////////////////////////////////////////////////////
    //////////////Left Site
    &__left {
        background: $color-primary;
        
    }

    &__textLeft {
        color: $color-white;
    }

    &__nameLeft {
        color: $color-white;
    }

    &__jobsLeft {
        color: $color-white;
    }

    ////////////////////////////////////////////////////////
    //////////////Right Site

    &__right {
        background-color: $color-grey-light-1;
    }

    &__jobsRight {
        color: $color-black;
    }

    &__nameRight {
        color: $color-black;
    }

    &__textRight {
        color: $color-black;
    }
}