<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

<script src="libs/owl.carousel/dist/owl.carousel.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>


<script>

function initMap() {
  var myLatLng = {lat: 40.4048900, lng: 49.837800};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: myLatLng,

        
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });

        google.maps.event.addDomListener(marker, 'click', function () {
          window.open( "https://www.google.com/maps/place/Apple+Servis+-+Service+Baku,+iPhone+servis,+Rəsmi+və+Zəmanətli+təmir,+iPhone+temiri,+AvirStore/@40.4049633,49.8352211,17z/data=!4m5!3m4!1s0x0:0xcbb13c0d38d0379b!8m2!3d40.4049887!4d49.8378354",'_blank');

             });

      }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl_tIRv0tzVyO6Bd0mvC9EzqxQlUDDOtU&callback=initMap" async
  defer></script>
</body>

</html>