<header class="header" >
    <div class="container">
        <div class="header__navigation">

            <div class="header__sidebar--OpenIconbox d-md-none">
                <i class="header__sidebar--icon fas fa-bars"></i>
            </div>

            <div class="header__sidebar d-md-none">
                
                <div class="header__sidebar--CloseIconbox d-md-none">
                    <i class="header__sidebar--icon fas fa-times"></i>
                </div>

                <ul class="header__sidebar--list">
                    <li class="header__sidebar--item">
                        <a class="header__sidebar--link" href="index.html">home</a>
                    </li>

                    <li class="header__sidebar--item">
                        <a class="header__sidebar--link" href="about.html">haqqimizda</a>
                    </li>

                    <li class="header__sidebar--item">
                        <a class="header__sidebar--link" href="curse.html">Kurslar</a>
                    </li>

                    <li class="header__sidebar--item">
                        <a class="header__sidebar--link" href="contact.html">Bizimle elage</a>
                    </li>

                    <li class="header__sidebar--item">
                        <a class="header__sidebar--link" href="apply.html">Muraciət et</a>
                    </li>
                </ul>
            </div>

            <div class="header__logo">
               <a href="index.html"> <img class="header__photo" src="./img/edupro-2.png" alt="edupro"></a>
            </div>

            <nav class="header__nav">
                <ul class="header__nav--list">
                    <li class="header__nav--item">
                        <a class="header__nav--link " href="index.html">Ana səyifə</a>
                    </li>

                    <li class="header__nav--item">
                        <a class="header__nav--link" href="about.html">Haqqimizda</a>
                    </li>

                    <li class="header__nav--item">
                        <a class="header__nav--link" href="curse.html">Kurslar</a>
                    </li>

                    <li class="header__nav--item">
                        <a class="header__nav--link" href="contact.html">Bizimlə əlagə</a>
                    </li>
                </ul>

            </nav>

            <a class="header__btn shutter-out-vertical" href="apply.html">Muraciət et</a>

          



        </div>

    </div>
</header>