<footer class="footer">
  <div class="container-fulid">
    <div class="footer-top">
      <div class="footer__box">
        <i class="footer__box--icon fas fa-mobile-alt"></i>
        <a class="footer__box--link" href="tel:555-555-5555">0554562007</a>
        <a class="footer__box--link" href="tel:555-555-5555">0554562007</a>
      </div>

      <div class="footer__box ">
        <i class="footer__box--icon fas fa-envelope"></i>
        <a class="footer__box--link" href="mailto:info@edupro.az">info@edupro.az</a>
        <a class="footer__box--link" href="mailto:info@edupro.az">info@edupro.az</a>
      </div>

      <div class="footer__box">
        <i class="footer__box--icon fab fa-telegram-plane"></i>
        <a class="footer__box--link" href="#">Baki Seheri b araz mirze 50</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="footer__center ">
            <h3 class="footer__title ">
              Haqqimizda
            </h3>

            <p class="footer__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="footer__center ">
            <h3 class="footer__title">
              Kecidlerimiz
            </h3>

            <ul class="footer__list ">
              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  Haqqimizda
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  Kurslar
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  Bizimle elage
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="footer__center ">
            <h3 class="footer__title">
              kurslar
            </h3>

            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  Marketing
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  web
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  dizayn
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">

          <div class="footer__center ">
            <h3 class="footer__title">
              Bizi izleyin
            </h3>

            <ul class="footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  Faacebook
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class="footer__icon fas fa-long-arrow-alt-right"></i>
                  instagram
                </a>
              </li>

              <li class="footer__item">
                <a href="#" class="footer__link">
                  <i class=" footer__icon fas fa-long-arrow-alt-right"></i>
                  twitter
                </a>
              </li>

            </ul>
          </div>
        </div>

      </div>

    </div>

    <div class="footer__bottom text-center">
      Copyright © Avirtel 2019. Bütün Hüquqları Qorunur.
    </div>

  </div>
</footer>