
.section-title {
    position: relative;
    padding: 4rem 0; 
    background-color: $color-primary;
}  

.section-curse{
    background-color: $color-grey-light-1;
    padding: 5rem 0 7rem; 
} 

.section-form{ 
    background-color: $color-grey-light-1;
}

.about-section{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 10rem;
}



.section-curseSingle{
    position: relative;
    background-color: $color-primary;
    color: $color-white;
    padding: 2rem 0; 
}

.student-section{
    position: relative;
    margin-bottom: 6rem;
}


.partnors-section{
    position: relative;
}


.owl-section{
    position: relative;
    margin-bottom: 10rem;
}

.career-section{
position: relative;
margin-bottom: 12rem;
}