/* HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/   */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2016  https://github.com/nemerki */
/*
-sm
-m
-lg
-xl

*/
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  /* @include respondmax(md){
		font-size: 40%;
	} 

	@include respondmin(md){
		font-size: 40%;
	} 

	@include respondmin(lg){
		font-size: 56.25%; 
	} 

	@include respondmin(xl){
		font-size: 62.5% ; //1rem=12px
	}		 */
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.azn {
  font-family: jaznb;
}

.title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.line__title {
  margin: 1.3rem 0;
  text-align: center;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  position: relative;
  overflow: hidden;
}

.line__title:before, .line__title:after {
  content: '';
  display: inline-block;
  height: 3px;
  background: #4370a8;
  width: 7%;
  position: relative;
  vertical-align: middle;
}

.line__title:before {
  left: -0.5em;
  margin-left: -50%;
}

.line__title:after {
  right: -0.5em;
  margin-right: -50%;
}

.subtitle {
  font-size: 1.4rem;
  text-align: center;
  color: #bbbbbb;
  width: 50%;
  margin: auto;
}

.text {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

@font-face {
  font-family: jaznb;
  src: url("../../fonts/jaznb.eot");
  src: url("../../fonts/jaznb.eot?#iefix") format("embedded-opentype"), url("../../fonts/jaznb.woff2") format("woff2"), url("../../fonts/jaznb.woff") format("woff"), url("../../fonts/jaznb.ttf") format("truetype"), url("../../fonts/jaznb.svg#jaznb") format("svg");
}

.about__img {
  height: 50rem;
  width: 100%;
  padding: 1rem;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
}

.about__text {
  text-align: justify;
  font-size: 1.4rem;
  color: #666666;
  margin-bottom: 4rem;
}

@media (max-width: 575px) {
  .about__text {
    margin-bottom: 5rem;
  }
}

.about__title {
  font-weight: 900;
  margin: 2rem 0;
  font-size: 1.8rem;
  color: #000;
  text-transform: capitalize;
}

.about__list {
  list-style: none;
}

.about__item {
  display: block;
  font-size: 1.4rem;
  color: #666666;
  margin: 1rem 0;
}

.about__icon {
  color: #4370a8;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.curse {
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0 2rem 4rem rbga(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rbga(0, 0, 0, 0.5);
}

.curse__title {
  font-weight: 900;
  font-size: 2rem;
}

.curse__svg {
  margin: 2rem 0;
  height: 8rem;
  fill: #4370a8;
}

.curse__subject {
  font-size: 1.4rem;
  margin: 1rem 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.curse__link:link, .curse__link:visited {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 1rem;
}

.our {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .our {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our__curse {
  background-color: #4370a8;
  padding: 5rem;
  height: 40rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48rem;
          flex: 0 0 48rem;
}

@media (max-width: 1199px) {
  .our__curse {
    padding: 1rem 9rem;
  }
}

@media (max-width: 991px) {
  .our__curse {
    padding: 1rem;
  }
}

.our__curse--title {
  color: #fff;
  text-align: justify;
  font-size: 2.4rem;
  margin: 0 0 4rem;
}

.our__curse--text {
  color: #fff;
  text-align: justify;
  font-size: 1.6rem;
}

.our__slider {
  background-color: #f6f6f6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1199px) {
  .our__slider {
    width: 100%;
  }
}

.our__slider--curse {
  background-color: #fff;
  padding: 1rem 0;
  margin: 0 0 0 2rem;
}

@media (max-width: 1199px) {
  .our__slider--curse {
    margin: 0 2rem;
  }
}

.our__slider--svg {
  fill: #4370a8;
  width: 12rem;
  height: 15rem;
}

.our__slider--subject {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
}

.apply {
  position: relative;
}

.apply__input {
  height: 5rem;
  -webkit-appearance: none;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin: 5rem 0 0rem 0;
  border: none;
  color: #b6b6b6;
  border-radius: 0;
  resize: none !important;
  overflow: auto;
}

.apply__input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.apply__Subinput {
  background-color: #4370a8;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.apply__Subinput {
  background-color: #4370a8 !important;
  color: #fff !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.select {
  position: relative;
}

.select:focus {
  color: #b6b6b6;
}

.select-arrow {
  color: #b6b6b6;
  right: 4rem;
  bottom: 1.5rem;
  font-size: 2rem;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.curseSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .curseSingle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.curseSingle__img {
  display: inline-block;
}

@media (max-width: 1199px) {
  .curseSingle__img {
    margin-bottom: 5rem;
  }
}

.curseSingle__img--title {
  display: block;
  text-transform: capitalize;
}

.curseSingle__img--slash {
  display: block;
  font-size: 1.5rem;
}

.curseSingle__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .curseSingle__details {
    margin-bottom: 3rem;
  }
}

@media (max-width: 767px) {
  .curseSingle__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.curseSingle__details--General {
  padding: 1rem 3rem;
}

@media (max-width: 1199px) {
  .curseSingle__details--General {
    text-align: center;
  }
}

.curseSingle__details--title {
  font-weight: 400;
}

.curseSingle__details--time {
  font-weight: 900;
  font-size: 1.4rem;
}

.curseSingle__pdf--link:link, .curseSingle__pdf--link:visited {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 22px;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.home {
  position: relative;
  text-align: center;
}

.home__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (max-width: 575px) {
  .home__title {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}

.home__subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 575px) {
  .home__subtitle {
    font-size: 1rem;
  }
}

.student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .student {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 12rem 0;
  }
}

.student__left {
  background: #4370a8;
  padding: 3rem 4rem;
}

.student__textLeft {
  font-size: 1.4rem;
  text-align: justify;
  color: #fff;
  margin: auto;
  padding: 5rem 0;
}

.student__nameLeft {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.student__jobsLeft {
  font-size: 1.4rem;
  text-align: justify;
  color: #fff;
  margin: auto;
}

.student__right {
  background-color: #f6f6f6;
  padding: 3rem 4rem;
}

.student__textRight {
  font-size: 1.4rem;
  text-align: justify;
  color: #000;
  margin: auto;
  padding: 5rem 0;
}

.student__nameRight {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}

.student__jobsRight {
  font-size: 1.4rem;
  text-align: justify;
  color: #000;
  margin: auto;
}

.dotsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -6rem;
}

.dotsLeft__big {
  border-radius: 50%;
  background-color: #eeeeee;
  height: 11rem;
  width: 11rem;
  border: 2px solid #fff;
}

.dotsLeft__small {
  border-radius: 50%;
  background-color: #eeeeee;
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  border: 2px solid #fff;
}

.dotsRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -6rem;
  right: 2rem;
}

@media (max-width: 1199px) {
  .dotsRight {
    bottom: -8rem;
    top: inherit;
  }
}

.dotsRight__big {
  border-radius: 50%;
  background-color: #eeeeee;
  height: 11rem;
  width: 11rem;
  border: 2px solid #fff;
}

.dotsRight__small {
  border-radius: 50%;
  background-color: #eeeeee;
  height: 4rem;
  width: 4rem;
  margin: 0 1rem;
  border: 2px solid #fff;
}

.owl-dots {
  position: absolute;
  left: 0;
  bottom: -9.9rem;
  width: 10rem;
  background: #bfbfbf;
  height: auto;
}

@media (max-width: 575px) {
  .owl-dots {
    width: 100%;
  }
}

.owl-dot {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  margin: 1rem .5rem;
}

.owl-dot:focus {
  outline: none;
}

.owl-dot.active {
  background-color: #4370a8 !important;
}

.partnors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .partnors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.partnors__img {
  width: 25rem !important;
  display: inline-block !important;
}

.partnors__box {
  height: 20rem;
  text-align: center;
  line-height: 20rem;
  border-radius: 5px;
  margin-bottom: 6rem;
  width: 100%;
  -webkit-box-shadow: 0px 0px 18.6px 1.4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 18.6px 1.4px rgba(0, 0, 0, 0.07);
}

.logo__img {
  position: relative;
  top: 7rem;
  width: 25rem;
}

.logo__title {
  font-size: 6rem;
  padding: 14rem 0 0;
  color: #000;
}

.section-logo {
  background-color: #f6f6f6;
  height: 100vh;
}

.serch {
  position: relative;
  width: 60rem;
  height: 5rem;
  margin: 6rem auto;
}

@media (max-width: 575px) {
  .serch {
    width: inherit;
  }
}

@media (max-width: 767px) {
  .serch {
    width: inherit;
  }
}

.serch__icon {
  position: absolute;
  top: 2rem;
  color: #264469;
  right: 2rem;
  font-size: 2rem;
}

.serch__input {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #bbbbbb;
  border-radius: 0;
  border: 1px solid #eeeeee;
}

.serch__input:focus {
  outline: none;
}

.career {
  position: relative;
}

.career__img {
  text-align: center;
  margin-bottom: 1.5rem;
}

.career__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.career__text {
  color: #b6b6b6;
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 4rem;
}

.gm-svpc {
  display: none;
}

.gmnoprint {
  display: none;
}

.gm-style-cc {
  display: none;
}

.gm-control-active {
  display: none !important;
}

.gm-fullscreen-control {
  display: none;
}

.footer {
  background: #333333;
  width: 100%;
}

.footer__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: 4.5rem 0;
}

@media (max-width: 767px) {
  .footer__title {
    text-align: center;
  }
}

.footer__text {
  color: #999999;
  text-align: left;
  font-size: 1.4rem;
  margin: 2rem 0px;
  line-height: 2;
}

@media (max-width: 767px) {
  .footer__text {
    text-align: center;
  }
}

.footer__list {
  list-style-type: none;
}

.footer__item {
  display: block;
  padding: 0 0 1.5rem;
}

.footer__link:link, .footer__link:visited {
  color: #999999;
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer__link:link, .footer__link:visited {
    text-align: center;
  }
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom {
  background-color: #222222;
  height: 5rem;
  color: #999999;
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .footer__bottom {
    font-size: 1.2rem;
  }
}

.footer__box {
  background-color: #4370a8;
  text-align: center;
  padding: 4rem 0;
  height: 20rem;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer__box:hover {
  background-color: #fff;
}

.footer__box:hover .footer__box--icon {
  color: #4370a8;
}

.footer__box:hover .footer__box--link {
  color: #000;
}

.footer__box--icon {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__box--link:link, .footer__box--link:visited {
  text-decoration: none;
  display: block;
  color: #fff;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.header {
  position: relative;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 10rem;
  margin-right: auto;
}

@media (max-width: 767px) {
  .header__logo {
    margin: auto;
  }
}

.header__photo {
  height: 100%;
}

.header__nav {
  margin: 4rem 0;
  position: relative;
}

.header__nav--list {
  list-style: none;
}

@media (max-width: 767px) {
  .header__nav--list {
    display: none;
  }
}

.header__nav--item {
  padding: 1rem;
  display: inline-block;
}

.header__nav--link:link, .header__nav--link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #555555;
  font-weight: 600;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav--link:link:hover, .header__nav--link:visited:hover {
  color: #4370a8;
}

.header__btn:visited, .header__btn:link {
  background-color: #4370a8;
  color: #fff;
  border-radius: 25px;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .header__btn:visited, .header__btn:link {
    display: none;
  }
}

.section-title {
  position: relative;
  padding: 4rem 0;
  background-color: #4370a8;
}

.section-curse {
  background-color: #f6f6f6;
  padding: 5rem 0 7rem;
}

.section-form {
  background-color: #f6f6f6;
}

.about-section {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.section-curseSingle {
  position: relative;
  background-color: #4370a8;
  color: #fff;
  padding: 2rem 0;
}

.student-section {
  position: relative;
  margin-bottom: 6rem;
}

.partnors-section {
  position: relative;
}

.owl-section {
  position: relative;
  margin-bottom: 10rem;
}

.career-section {
  position: relative;
  margin-bottom: 12rem;
}

/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2018  https://github.com/nemerki */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */