$aznb:jaznb;
$drpr:DINRoundPro; 
$drp_bold:DINRoundPro-Bold; 
$drp_light:DINRoundPro-Light;
$drp_medi:DINRoundPro-Medi;
$drp_black:DINRoundPro-Black;
$abel_pro:Abel-Regular;

$color-white:#fff;

$color-black:#000;
$color-black-light:#222222;


$color-grey:#555555;
$color-grey-light-1:#f6f6f6;
$color-grey-light-2:#999999;
$color-grey-light-3:#666666;
$color-grey-light-4:#eeeeee;
$color-grey-light-5:#bfbfbf;
$color-grey-light-6:#777;
$color-grey-light-7:#bbbbbb;

$color-grey-dark:#333333;

$color-primary:#4370a8;
$color-primary-dark:#264469;



