//= template/head.html
//= template/header.html

<main>
    <section class="section-title">
        <div class="container">
            <h1 class="title">Haqqimizda</h1>
        </div>
    </section>

    <section class="about-section ">
        <div class="container">
                <div class="mb-5">
                    <h1 class="line__title"> Edu Pro </h1>
                    <p class="subtitle ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                            <img src="./img/Avirtel.jpg" alt="Avirtel" class="about__img img-thumbnail mb-5">
                    </div>

                    <div class=" col-xl-6 col-md-12">
                        <p class="about__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>

                        <h3 class="about__title">Niye Edu Pro ?</h3>
                        <p class="about__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                        </p>

                        <ul class="about__list">
                            <li class="about__item"><i class="about__icon far fa-check-circle"></i> Lorem ipsum dolor
                                sit amet, consectetur</li>
                            <li class="about__item"><i class="about__icon far fa-check-circle"></i> Lorem ipsum dolor
                                sit amet, consectetur</li>
                            <li class="about__item"><i class="about__icon far fa-check-circle"></i> Lorem ipsum dolor
                                sit amet, consectetur</li>
                            <li class="about__item"><i class="about__icon far fa-check-circle"></i> Lorem ipsum dolor
                                sit amet, consectetur</li>
                            <li class="about__item"><i class="about__icon far fa-check-circle"></i> Lorem ipsum dolor
                                sit amet, consectetur</li>
                        </ul>
                    </div>
                </div>

        </div>
    </section>


    <section class="career-section mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6">
                        <div class="career">
                            <div class=" career__img">
                                <img src="./img/Caryer.png" alt="Caryer">
                            </div>
    
                            <h3 class="career__title">
                                KARYERA MƏRKƏZİ
                            </h3>
    
                            <p class="career__text ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-md-6 col-sm-6">
                        <div class="career">
                            <div class="career__img ">
                                <img src="./img/book.png" alt="book">
                            </div>
    
                            <h3 class="career__title">
                                Zemanetli tehsil sistemi
                            </h3>
    
                            <p class="career__text ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-md-6 col-sm-6">
                        <div class="career">
                            <div class="career__img ">
                                <img src="./img/Sertifikat.png" alt="Sertifikat">
                            </div>
    
                            <h3 class="career__title  ">
                                BEYNƏLXALQ SERTİFİKASİYA
                            </h3>
    
                            <p class="career__text ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
    
                    <div class="col-xl-3 col-md-6 col-sm-6">
                        <div class="career">
                            <div class="career__img">
                                <img src="./img/Mentor.png" alt="Mentor">
                            </div>
    
                            <h3 class="career__title ">
                                MENTOR SİSTEMİ
                            </h3>
    
                            <p class="career__text ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>

</main>



//= template/last.html
//= template/footer.html