//= template/head.html
//= template/header.html

<main>
    <section class="section-title">
        <div class="container">
            <h1 class="title">Muraciet formasi</h1>
        </div>
    </section>

    <section class="section-form">
        <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group apply">
                            <input type="text" class="form-control apply__input" placeholder="Adiniz">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="form-group apply">
                            <input type="text" class="form-control apply__input" placeholder="Soyadiniz">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="form-group apply">
                            <input type="number" class="form-control apply__input" placeholder="Elaqe nomreniz">
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="form-group apply">
                            <input type="email" class="form-control apply__input" placeholder="E-poct adresiniz">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group apply">
                                <span class=" select-arrow fas fa-sort-up"></span>
                                <span class=" select-arrow fas fa-sort-down"></span>
                            <select class="select form-control apply__input"
                                placeholder="Qeydiyyatdan keçmək istədiyiniz tədris proqramını seçin">
                                <option>Web desing</option>
                                <option>grafic</option>
                                <option>web programist</option>
                                <option>Marketing</option>
                                <option>Dizayner</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group apply ">
                        <button type="submit" class="form-control apply__input apply__Subinput  apply__bok">Qeydiyati tamamla</button>
                        </div>
                    </div>

                </div>
        </div>

    </section>

    <section class="section-curse">
        <div class="container">

            <div class=" text-center mt-5 mb-5 text-uppercase">
                <h2 class="curse__title">Tedriz Programlarimiz</h2>
            </div>
            
            <div class="curse__box">


                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">Digital Marketing</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">QRAFİK VƏ VEB DİZAYN</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">PROQRAMLAŞDIRMA</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 18.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">3D MODELLƏŞDİRMƏ VƏ VİZUALİYASİYA</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">SİSTEM ADMİNİSTRATORLUĞU</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">SMM – Sosial Media Marketinqi </a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">İNFORMASİYA TEXNOLOGİYALARI </a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 18.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">MS OFFİCE </a>
                </div>

        </div> 
        </div>
    </section>
</main>

//= template/last.html
//= template/footer.html