//= template/head.html
//= template/header.html

<main>

    <section class="section-title">
        <div class="container">
            <h1 class="title">Bizimle elage</h1>
        </div>
    </section>


    <div id="map" style="height:50rem; width:100%;"></div>

    <section class="section-form">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="form-group apply">
                        <input type="text" class="form-control apply__input" placeholder="Adiniz Soyadinis">
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="form-group apply__group">
                        <input type="email" class="form-control apply__input" placeholder="E-poct adresiniz">
                    </div>
                </div>


                <div class="col-md-3 ">
                    <div class="form-group apply__group">
                        <input type="number" class="form-control apply__input" placeholder="Elaqe nomreniz">
                    </div>
                </div>


                <div class="col-md-3 ">
                    <div class="form-group apply__group d-none d-md-block">
                        <button type="submit" class="form-control apply__input apply__Subinput   apply__bok ">Gonder</button>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group apply__group">
                        <textarea class="form-control apply__input mb-5 apply__area" rows="7"
                            placeholder="Mesajinizi yazin"></textarea>
                    </div>
                </div>

                <div class=" col-12">
                    <div class="form-group apply__group d-md-none">
                        <button type="submit" class="form-control apply__input apply__Subinput   apply__bok ">Gonder</button>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>

//= template/last.html
//= template/footer.html