//= template/head.html
//= template/header.html
<main>
    <section class="section-curseSingle">
        <div class="container">
            <div class="curseSingle">
                <div class="curseSingle__first">
                    <div class="curseSingle__img">
                        <img src="./img/svgImg/Asset 6 copy.png" alt="">
                    </div>
                    <div>
                        <h1 class="float-md-right curseSingle__img--title ">
                            Digital marketing
                        </h1>
                        <span class="curseSingle__img--slash">#digitalmarketing</span>
                    </div>
                </div>



                <div class="curseSingle__details">
                    <div class="curseSingle__details--General">
                        <h4 class="curseSingle__details--title">Umumi</h4>
                        <p class="curseSingle__details--time">120 saat</p>
                    </div>

                    <div class="curseSingle__details--General">
                        <h4 class="curseSingle__details--title">hefte ici gunduz</h4>
                        <p class="curseSingle__details--time">8 hefte</p>
                    </div>

                    <div class="curseSingle__details--General">
                        <h4 class="curseSingle__details--title">hefte ici axsam</h4>
                        <p class="curseSingle__details--time">10 hefte</p>
                    </div>

                    <div class="curseSingle__details--General">
                        <h4 class="curseSingle__details--title">hefte sonu</h4>
                        <p class="curseSingle__details--time">12 hefte</p>
                    </div>

                </div>

                <div class="curseSingle__pdf">
                    <a class="curseSingle__pdf--link shutter-out-vertical" href="#">Pdf Katalogu</a> 
                </div>
            </div>
        </div>
    </section>

    <section class="section-curseText">
        <div class="container">
            <h2 class=" m-5 center__title">NIYƏ EDU PRO-DA DIGITAL MARKETINQ TƏDRISI?</h2>
            <p class="text-justify text">
                Edu Pro, Digital Marketinq tədris proqramı sektorun ehtiyacları və tələblərinə uyğun hazırlanıb. Məqsəd
                sadəcə digital media texnologiyaları üzrə mütəxəssis hazırlamaq deyil, həm də bu texnologiyaları düzgün
                istifadə edib digital marketinq kampaniyalarını idarə edə bilən məzunlar hazırlamaqdır. Edu Pro-nun ən
                böyük
                üstünlüyü məzunlarına Digital Marketinq sektorundakı potensial işçilər arasında prioritet namizəd olaraq
                seçilməyinə və öz karyeralarını inkişaf etdirməyinə köməklik edən təhsil sistemi təqdim etməyidir. Edu
                Pro-dakı tədris proqramının 55%-i praktika üzərində qurulub. Məqsəd sektorun professionallara olan
                ehtiyacını qarşılamaqdır. Proqramın sonunda buraxılış layihələrini müvəffəqiyyətlə başa vuran tələbələr
                karyera hazırlıq prosesini bitirməklə yanaşı, fərdi portfolio meydana gətirərək məzun olurlar.
            </p>

            <h2 class=" center__title">Kim iştirak edə bilər?</h2>

            <p class="text-justify text ">
                Tədris proqramında sosial media, marketinq, e-ticarət və digital dünya ilə maraqlanan və karyeralarını
                bu sahələrdə digital marketinq üzrə mütəxəssis kimi davam etdirmək istəyən şəxslər iştirak edə bilər
            </p>

            <h2 class=" center__title">Təhsil proqramının məqsədi nədir?</h2>

            <p class="text-justify text ">
                Proqramın məqsədi şirkətlərin marketinq strategiyalarını digital marketinq strategiyaları ilə
                bütövləşdirən; beləliklə ünsiyyət vasitələrinin imkanlarını gücləndirən, müştəri məmnuniyyətini,
                etibarını və satışları artıra bilən mütəxəssislər hazırlamaqdır. Proqramı digital platformalarda
                brendləri tanıtmaq, sosial medianın imkanlarına yiyələnmək, SEO, PPC, Display və email marketinq
                biliklərinə yiyələnmək və bu kanalların effektivliyini ölçmək üçün lazım olan məlumatları tədris edir.
            </p>
        </div>

    </section>

    <section class="section-curse">
        <div class="container">
            <div class="curse__title text-center mt-5 mb-5 text-uppercase">
                <h2>Tedriz Programlarimiz</h2>
            </div>
            <div class="curse__box">


                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">Digital Marketing</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">QRAFİK VƏ VEB DİZAYN</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">PROQRAMLAŞDIRMA</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 18.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">3D MODELLƏŞDİRMƏ VƏ VİZUALİYASİYA</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">SİSTEM ADMİNİSTRATORLUĞU</a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">SMM – Sosial Media Marketinqi </a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">İNFORMASİYA TEXNOLOGİYALARI </a>
                </div>



                <div class='curse'>
                    <a class="curse__img" href="curse-sing.html">
                        <img class="curse__img--svg " src="./img/Asset 18.svg" alt="">
                    </a>
                    <a class="curse__link" href="curse-sing.html">MS OFFİCE </a>
                </div>

        </div> 
        </div>
    </section>
</main>

//= template/last.html
//= template/footer.html