//= template/head.html
//= template/header.html

<main>
    <section class="section-title">
        <div class="container">
            <h1 class="title">Kurslar</h1>
        </div>
    </section>

    <section class="section-curse">
        <div class="container">
           

        
       <div class="curse__box">


                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">Digital Marketing</a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">QRAFİK VƏ VEB DİZAYN</a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">PROQRAMLAŞDIRMA</a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img//Asset 18.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">3D MODELLƏŞDİRMƏ VƏ VİZUALİYASİYA</a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 6.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">SİSTEM ADMİNİSTRATORLUĞU</a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 3.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">SMM – Sosial Media Marketinqi </a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 23.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">İNFORMASİYA TEXNOLOGİYALARI </a>
                    </div>



                    <div class='curse'>
                        <a class="curse__img" href="curse-sing.html">
                            <img class="curse__img--svg " src="./img/Asset 18.svg" alt="">
                        </a>
                        <a class="curse__link" href="curse-sing.html">MS OFFİCE </a>
                    </div>

            </div> 
        </div>
    </section>
</main>

//= template/last.html
//= template/footer.html