//= template/head.html
//= template/header.html
<main>
    <section class="section-home">
        <div class="container">
            <div class="home">

                <img class="home__img w-100 pb-3" src="./img/search__image.png" alt="edupro-2">
                <h1 class="home__title pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p class="home__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <div class="serch">
                    <input class="serch__input" type="text" placeholder="KURS AXTARIN" />
                    <i class=" serch__icon fas fa-search"></i>
                </div>


            </div>
        </div>
    </section>

    <section class="owl-section">
        <div class="our">
            <div class="our__curse">
                <h3 class="our__curse--title">HAZIRKI KURSLARIMIZ</h3>

                <p class="our__curse--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="our__slider">
                <div class="owl-carousel owl__slider owl-theme ">
                    

                    <div class="item slinder">
                        <div class='our__slider--curse'>
                            <img class="our__slider--svg " src="./img/Asset 18.svg" alt="">

                            <p class="our__slider--subject">3D MODELLƏŞDİRMƏ VƏ VİZUALİYASİYA</p>
                        </div>
                    </div>



                    <div class="item slinder">
                        <div class='our__slider--curse'>
                            <img class="our__slider--svg " src="./img/Asset 6.svg" alt="">

                            <p class="our__slider--subject">SİSTEM ADMİNİSTRATORLUĞU</p>
                        </div>
                    </div>


                    <div class="item slinder">
                        <div class='our__slider--curse'>
                            <img class="our__slider--svg " src="./img/Asset 3.svg" alt="">

                            <p class="our__slider--subject">SMM – Sosial Media Marketinqi</p>
                        </div>
                    </div>



                    <div class="item slinder">
                        <div class='our__slider--curse'>
                            <img class="our__slider--svg " src="./img/Asset 23.svg" alt="">

                            <p class="our__slider--subject">İNFORMASİYA TEXNOLOGİYALARI</p>
                        </div>
                    </div>

                    <div class="item slinder">
                        <div class='our__slider--curse'>
                            <img class="our__slider--svg " src="./img/Asset 18.svg" alt="">

                            <p class="our__slider--subject">MS OFFİCE </p>
                        </div>
                    </div>


                   

                </div>

                <div class="my-owl-nav d-md-none">

                    <span class="my-next-button">
                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </span>

                    <span class="my-prev-button">
                        <i class="fas fa-chevron-left"></i>
                    </span>

                </div>
                
               
            </div>
        </div>
    </section>

    <section class="career-section ">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="career">
                        <div class=" career__img">
                            <img src="./img/Caryer.png" alt="Caryer">
                        </div>

                        <h3 class="career__title">
                            KARYERA MƏRKƏZİ
                        </h3>

                        <p class="career__text ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="career">
                        <div class="career__img ">
                            <img src="./img/book.png" alt="book">
                        </div>

                        <h3 class="career__title">
                            Zemanetli tehsil sistemi
                        </h3>

                        <p class="career__text ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="career">
                        <div class="career__img ">
                            <img src="./img/Sertifikat.png" alt="Sertifikat">
                        </div>

                        <h3 class="career__title  ">
                            BEYNƏLXALQ SERTİFİKASİYA
                        </h3>

                        <p class="career__text ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="career">
                        <div class="career__img">
                            <img src="./img/Mentor.png" alt="Mentor">
                        </div>

                        <h3 class="career__title ">
                            MENTOR SİSTEMİ
                        </h3>

                        <p class="career__text ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="student-section">
        <div class="student">
            <div class="student__left student__boxs">
                <div class="dots">
                    <span class="dots__big"></span>
                    <span class="dots__small"></span>
                    <span class="dots__small"></span>
                </div>
                <p class="student__textLeft student__text">
                    EduPro-nun məzun etdiyi insanların həyatında əvəzsiz rola malik olduğunu düşünürəm. Bizim əməkdaşlarımız arasında EduPro-da təhsil alaraq öz karyerasını köklü şəkildə dəyişdirmiş və kreativ komandamıza qoşulmuş insanlar var. EduPro bu yolla həm məzunlarının həyatını dəyişdirir, həm də yeni bizneslərin inkişafında ehtiyacımız olan insan resurslarını təmin edərək bizim dəyərli partyorumuza çevrilmiş olur.
                </p>


                <span class="student__nameLeft student__name"> Ceyhun Imanov </span>

                <p class="student__jobsLeft student__jobs">
                    Proqramlaşdırma kursundan məzun
                </p>
            </div>
            <div class="student__right student__boxs">

                <div class="dots dots__right">
                    <span class="dots__small"></span>
                    <span class="dots__small"></span>
                    <span class="dots__big"></span>
                </div>

                <p class="student__textRight student__text">
                    Code Academy olmasa idi, digital marketing dərslərini online almağı planlaşdırırdım. Amma daha
                    effektiv oldu ki, Code Academy-yə gələ bildim. Bilikləri birbaşa müəllimdən almaq çox effektiv
                    oldu.
                    İstənilən bazarda yerli xüsusiyyətlər var. Hesab edirəm ki, onları öyrənmək üçün bu mühitdə
                    işləyən
                    adamların təcrübələri çox qiymətlidir.
                </p>

                <span class="student__nameRight student__name">Şeyda Allahverdiyeva</span>
                <p class="student__jobsRight student__jobs">
                    Jeykhun Imanov Studio - Sahibkar
                </p>
            </div>
        </div>
    </section>



    <section class="partnors-section">
        <div class="container">

            <div class=" text-center mt-5 mb-5 text-uppercase">
                <h2 class="curse__title"> PARTNYORLARIMIZ </h2>
            </div>
            <div class="partnors">

                <div class="owl-carousel owl-partnors owl-theme d-flex ">
                    <div class="item">
                        <div class="partnors__box">
                            <img class="partnors__img" src="./img/autodesk-partner.png" alt="autodesk-partner">
                        </div>
                    </div>

                    <div class="item">
                        <div class="partnors__box">
                            <img class="partnors__img" src="./img/microsoft-partner.png" alt="autodesk-partner">
                        </div>
                    </div>

                    <div class="item">
                        <div class="partnors__box">
                            <img class="partnors__img" src="./img/dmi-partner.png" alt="autodesk-partner">
                        </div>
                    </div>

                </div>


                <div class="my-owl-nav">

                    <span class="my-next-button">
                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                    </span>

                    <span class="my-prev-button">
                        <i class="fas fa-chevron-left"></i>
                    </span>

                </div>

            </div>
        </div>
    </section>

</main>

//= template/last.html
//= template/footer.html