//= template/head.html
<main>

<section class="section-logo">
    <div class="container">
        <div class="logo text-center">
            <div class="row">
                <div class="col-12">

                    <img class="logo__img " src="./img/edupro-2.png" alt="edupro-2">

                    <h1 class="logo__title  text-uppercase">Coming Soon</h1>
                </div>
            </div>
        </div>
    </div>
</section> 

</main>

//= template/footer.html